# Python
__pycache__/
*.pyc
.venv/
.venv*/
.ruff_cache/
*.egg-info/

# OS
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform outputs
terraform/hello.txt
terraform/summary.txt

